<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12"><h1>Werkervaring</h1></div>
	</div>
	<div class="row">
		<div class="col-sm-2 col-md-1 h4">01/70 12/99</div>
		<div class="col-sm-10 col-md-11 h4">Projecttitel (rol, opdrachtgever)</div>
	</div>
	<div class="row">
		<div class="col-sm-offset-2 col-sm-10 col-md-offset-1 col-md-11"><h5>Projectomschrijving</h5>Lorum ipsum</div>
	</div>
	<div class="row">
		<div class="col-sm-offset-2 col-sm-10 col-md-offset-1 col-md-11"><h5>Werkzaamheden</h5>Lorum ipsum</div>
	</div>
	<div class="row">
		<div class="col-sm-offset-2 col-sm-10 col-md-offset-1 col-md-11">
			<br/>
			<dl>
				<dt>Technieken:</dt>
				<dd>Java 8</dd>
				<dd>Spring Cloud</dd>
				<dt>Tools:</dt>
				<dd>Intellij</dd>
				<dd>Postman</dd>
				<dt>Methodes:</dt>
				<dd>Scrum</dd>
				<dd>Pair programming</dd>
				<dd>Code reviews</dd>
			</dl>
		</div>
	</div>
</div>
